<!DOCTYPE html>
<html lang="en">
<head>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informacion Basica</title>
        <link rel="stylesheet" >
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilo.css">


    </head>

    <body>

      <form action="index.html" method="post">
      
        <h1>Datos Personales</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Informacion Personal</legend>
          <label for="name">Documento:</label>
          <input type="text" id="documeto" name="documento">

          <label for="name">Nombre Completo:</label>
          <input type="text" id="nombre" name="nombre">

          <label for="name">Fecha de nacimiento:</label>
          <input type="text" id="fecha" name="fecha">

          <label for="name">Numero de telefono:</label>
          <input type="text" id="telefono" name="telefono">

          <label for="job">Tipo de persona:</label>
          <select id="tipoPersona" name="tipoPersona">
            <option value="Estudiante">Estudiante</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Docente">Docente</option>
            <option value="personalAseo">Personal de Aseo</option>
            <option value="Visitante">Visitante</option>
             </select>

          <label for="job">EPS:</label>
          <select id="tipoSalud" name="tipoSalud">
            <option value="ARS-Subsidiado">ARS-Subsidiado</option>
            <option value="Medimas">Medimas</option>
            <option value="Comfaoriente">Comfaoriente</option>         
          </select>
          
          <label for="job">Genero:</label>
          <select id="genero" name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>         
          </select>

          <input type="radio" id="embarazo" value="embarazo" name="embarazo"><label for="embarazo" class="light">Embarazo</label><br>
         
        </fieldset>
    
        </fieldset>

        <button type="submit" class="btn btn-danger">Actualizar</button>
        <button type="submit"  class="btn btn-danger"><a href="indexOp1.html">Regresar</a></button>
      </form>
      </fieldset>
      
       
      
    </body>
</html>
</body>
</html>