<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informacion Basica</title>
        <link rel="stylesheet" >
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilo.css">


    </head>

    <body>

      <form action="index.html" method="post" th:action="@{/regInfoBasica}">
      
        <h1>Datos Personales</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Informacion Personal</legend>
          <label for="name">Documento:</label>
          <input type="text" id="documeto" name="documento" th:placeholder="${usuario.documento}">

          <label for="name">Nombre Completo:</label>
          <input type="text" id="nombre" name="nombre" th:placeholder="${usuario.nombre}">

          <label for="name">Fecha de nacimiento:</label>
          <input type="text" id="fechanacimiento" name="fechanacimiento"placeholder="Fecha de nacimiento">

          <label for="name">Numero de telefono:</label>
          <input type="text" id="telefono" name="telefono" placeholder="Numero de telefono">

          <label for="job">Tipo de persona:</label>
          <select id="tipodescripcion" name="tipodescripcion">
            <option value="Estudiante">Estudiante</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Profesor">Profesor</option>
           
             </select>

          <label for="job">EPS:</label>
          <select id="eps" name="eps">
            <option value="ARS-Subsidiado">ARS-Subsidiado</option>
            <option value="Medimas">Medimas</option>
            <option value="Comfaoriente">Comfaoriente</option>         
          </select>
          
          <label for="job">Genero:</label>
          <select id="genero" name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>         
          </select>

          <input type="checkbox" value="" id="embarazada" name="embarazada">
           <label for="job">Embarazo</label>
           
           <label for="job">Modalidad</label>
           <select id="modalidad" name="modalidad">
                   <option>Presencial</option>
                   <option>Distancia</option>
            </select>
         
        </fieldset>
    
        </fieldset>

        <button type="submit" class="btn btn-danger">Sign in</button>
        <button type="submit"  class="btn btn-danger"><a href="indexOp1.html">Regresar</a></button>
      </form>
      </fieldset>
      
       
      
    </body>
</html>
</body>
</html>