<!DOCTYPE html>
<html lang="en">
<head>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informacion Basica</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilo.css">


    </head>

    <body>
      <br>
      <br>

      <form action="index.html" method="post">
      
        <h1>Personas</h1>
        
        <fieldset>

          <legend><span class="number">1</span>Vive con personas de alguna de estas caracteristicas</legend>


          <input type="radio" id="mayor" value="mayor" name="mayor"><label for="embarazo" class="light">Mayores de 60 años</label><br>

          <input type="radio" id="menores" value="menores" name="menores"><label for="embarazo" class="light">Menores de 15 años</label><br>

          <input type="radio" id="sectorSalud" value="sectorSalud" name="sectorSalud"><label for="embarazo" class="light">Del sector de la salud</label>
          <br>
          <br>

          <legend><span class="number">2</span>Contactar en caso de emergencia a:</legend>
          <label for="name">Nombre Contacto:</label>
          <input type="text" id="nombre" name="nombre">

          <label for="name">Telefono de Contacto:</label>
          <input type="text" id="telefono" name="telefono">

          </select>

   
        </fieldset>
    
        </fieldset>
        <button type="submit">Actualizar</button>
        <button type="submit"><a href="indexOp1.html">Regresar</a></button>
      </form>
      </fieldset>
      
        <!--  <label>Interests:</label>
          <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
            <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>-->
        
        
      
    </body>
</html>
</body>
</html>