<!DOCTYPE html>
<html lang="en">
<head>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Visitante</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/estilo.css">


    </head>

    <body>

      <form action="index.html" method="post">
      
        <h1>Datos Personales</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Informacion Personal</legend>
          <label for="name">Documento:</label>
          <input type="text" id="documeto" name="documento">

          <label for="name">Nombre Completo:</label>
          <input type="text" id="nombre" name="nombre">

          <label for="name">Fecha de nacimiento:</label>
          <input type="text" id="fecha" name="fecha">

          <label for="name">Numero de telefono:</label>
          <input type="text" id="telefono" name="telefono">

          <label for="job">Tipo de persona:</label>
          <select id="tipoPersona" name="tipoPersona">
            <option value="Estudiante">Estudiante</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Docente">Docente</option>
            <option value="personalAseo">Personal de Aseo</option>
            <option value="Visitante">Visitante</option>
             </select>

          
          
          <label for="job">Genero:</label>
          <select id="genero" name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>         
          </select>

        
        </fieldset>
    
        </fieldset>
        <button type="submit">Actualizar</button>
        <button type="submit"><a href="indexOp2.html">Regresar</a></button>
      </form>
      </fieldset>
      
        <!--  <label>Interests:</label>
          <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
            <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>-->
        
        
      
    </body>
</html>
</body>
</html>